.templates {
  max-width: 1240px;
  backdrop-filter: blur(10px);
  padding: 45px 80px;
}
.templates__title {
  font-size: 32px;
  color: var(--text-color);
  font-weight: medium;
  margin-bottom: 17px;
  text-align: center;
}
.templates__subtitle {
  font-size: 17px;
  color: var(--darkgray-color);
  font-weight: medium;
  margin-bottom: 27px;
  text-align: center;
}

.templates__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.templates__carousel {
  width: 100%;
  max-width: 1000px;
  margin: 80px auto 0 auto;
  align-self: center;
  box-sizing: border-box;
}
.templates__carousel-dots {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  color: var(--color-white);
}

@media (max-width: 1024px) {
  .templates {
    padding: 32px 24px;
  }
  .templates__carousel {
    margin: 40px auto 0 auto;
    padding: 70px;
    max-width: 900px;
  }
  .templates__title {
    font-size: 26px;
  }
  .templates__subtitle {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .templates {
    padding: 20px 8px;
  }
  .templates__carousel {
    margin: 24px auto 0 auto;
    max-width: 100%;
    max-width: 600px;
  }
  .templates__title {
    font-size: 20px;
  }
  .templates__subtitle {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .templates {
    padding: 10px 2px;
  }
  .templates__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .templates__subtitle {
    font-size: 11px;
    margin-bottom: 14px;
  }
  .templates__carousel {
    margin: 12px auto;
    max-width: 260px;
  }
}
