.testimonial {
  max-width: 1240px;
  padding: 45px 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__title {
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  color: var(--text-color, #222);
  margin-bottom: 27px;
}

.testimonial__subtitle {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 67px;
  text-align: center;
  width: 80%;
}

.testimonial__button {
  margin: 60px auto;
  width: 222px;
  height: 60px;
  
}

.testimonial__content {
  max-width: 80%;
  margin: 0 auto 60px;
  position: relative;
}

.testimonial__line {
  width: 100%;
  height: 2px;
  background: var(--text-color);
  opacity: 0.25;
  margin: 0 auto;
}

.testimonial__line--top {
  margin-bottom: 48px;
}

.testimonial__line--bottom {
  margin-top: 48px;
  position: relative;
}

.testimonial__quote {
  font-size: 22px;
  font-style: italic;
  color: var(--text-color);
  margin: 0 auto 20px auto;
  font-family: 'Georgia', serif;
}

.testimonial__author-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
}

.testimonial__author-name {
  font-weight: bold;
  font-size: 10px;
  color: var(--text-color);
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}

.testimonial__author-role {
  font-weight: bold;
  font-size: 10px;
  color: var(--gray-color);
  letter-spacing: 0.04em;
}

.testimonial__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  border: 4px solid #fff;
  left: 80%;
  transform: translateX(-50%);
  bottom: -45px;

  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
}